.d-center {
    width: 50%; /* Or any specific width less than 100% */
    margin: 0 auto;
    margin-top: 10%;
}

.form-center {
     width: 50%; /* Or any specific width less than 100% */
    margin: 0 auto;
}